#title{
    background-color: #ff4c68;
    color: #fff;
    margin-bottom: -170px!important;


}
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 10%;
}
/* navbar */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.2rem;
}
/* download button */

.download{
    margin: 5% 3% 5% 0;
}
/* iphone img */

.apple{
    width: 60%;
    height: 92%;
    transform: rotate(22deg);
    position: relative;
    left: 30px;

}
/* feature heading */

.hi{
    font-size: 1.4rem;
    font-weight: bolder;
}

#features{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 9%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
/* feature text color */

p{
    color: #8f8f8f;
}

/* feature icon */

.icon:hover{
    color: #ff4c68;
}
.icon{
    color: #ef8172;
    padding-bottom: 10px;
}

/* Testimonials section */

#testimonials{
    
    text-align: center;
    background-color: #ef8172 ;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.imj{
    border-radius: 100%;
    width: 26%!important;
    margin: auto;
    margin-top: 3%;
    
}

/* press section */

#press{
    background-color: #ef8172  ;
    padding-bottom: 3%;
    text-align: center;
}

.press-img{
    width: 16%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 0;
}
.carousel-item{
    padding: 7% 15%;
}

/* pricing section */

#pricing{
    margin: 8%;
    margin-bottom: 6%;
}
.heading-pricing{
    text-align: center;
    padding-bottom: 3%;
}
.h2-price{
    font-size: 40px;
    
}
.pp{
    font-size: 16px;
}

/* cta section */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 8% 0 8%;
}
.cta-img{
    margin: 6px;
}
.cta-text{
    padding-bottom: 40px;
    font-size: 38px;
    width: 80%;
    margin: auto;
}

/* footer section */
#footer{
    padding: 8% 0 4%;
    text-align: center;
}

.icon-g{
    margin: 10px 6px;
}
@media (max-width: 984px){
    #title{
        text-align: center;
    }
    .apple{
        position: static;
        transform: rotate(0);
    }
}
